@charset "utf-8";



.menu {
  
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 10px; 
 background: rgb(83,6,6);
background: linear-gradient(0deg, rgba(83,6,6,1) 0%, rgba(121,12,9,1) 44%, rgba(219,24,24,1) 100%);
border-radius: 20px
}

.menu  a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.menu a:hover {
  background: firebrick;
  border-radius: 20px
}
.menu  #choice {
	
background: darkred;
border-radius: 20px}

img {
    max-width: 100%;
    height: auto;
}

body{  
	background: url(../assets/tlo.jpg) #303030;
	background-attachment: fixed;
	
	background-size: cover;
	position:relative;
	font: 20px arial, tahoma, verdana, sans-serif ; 
	color: white;
	margin:0;
		       padding:0;
		       height:100%;
	
	}
p {text-align: justify;}
section {
		
		margin: 10px;
		border: 10px solid white;
		background: black;
		opacity: 0.8;
		padding: 20px}
		
.todo {
	text-align: center;
	margin: auto;
		border: 10px solid white;
		display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
width:300px;



}

video {	
margin: auto;
display: flex;
  align-items: center;
justify-content: center;
width: 90%;
   
    display: block;}
button {
	
cursor: pointer;
font-size: 16px;
background-color: white;
color: darkred;
border: 2px solid darkred;
}

button:hover {background-color: firebrick;
color: white;}

h1, h2, h3 {text-transform:uppercase;}



@media all and (max-width: 800px) {
  .menu {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .menu {
    flex-flow: column wrap;
    padding: 0;
  }
  .menu a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .menu li:last-of-type a {
    border-bottom: none;
  }
}